.inverse_specific {
    background: #333333;
    color: #FFFFFF;
    font: 14px "Helvetica Neue";
    padding: 5px 0px;
}

.che_nav_logo {
    margin-top: -10px;
    height: 50px;
    max-height: 50px;
    max-width: 50px;
    width: 50px;
}

.my-navbar{

    height: 60px;
    background-color: #0b2e13;

}


.mynavbar{


}

.navbar .dropdown-menu {
    background-color: #343A40;
    color: rgba(255, 255, 255, 0.5);
}

/* and this styles the dropdwon trigger link, when open */
.navbar .dropdown.show a {
    background-color: #343A40;
    color: rgba(255, 255, 255, 0.5);
}


.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

