.inverse_specific {
    background: #333333;
    color: #FFFFFF;
    font: 14px "Helvetica Neue";
    padding: 5px 0px;
}

.che_nav_logo {
    background-color:  rgba(0,0,0,0);;
    margin-top: -5px;
    height: 50px;
    max-height: 50px;
    max-width: 50px;
    width: 50px;
}

.navbar_dark{

    height: 60px;
    background-color: rgba(10,34,10 , 0.95);
}


.navbar .dropdown-menu {
    background-color:  rgba(10,34,10,0.95);;
    color: rgba(255, 255, 255, 0.5);
}

/* and this styles the dropdwon trigger link, when open */
.navbar .dropdown.show a {
    background-color: rgba(10,34,10,0.95);;
    color: rgba(255, 255, 255, 0.5);
}


.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

@font-face {
    font-family: 'MetropolisRegular';
    font-weight: normal;
    font-style: normal;
}


/* ----------------------------------------Index------------------------------------------------------------*/


.navbar-custom{
    background-color: rgba(0 , 0 , 0 , 0.8);

}

.bg-dark.scrolled {
    background-color: rgba(0 , 0 , 0 , 1);
    height: 60px;
    transition: 0.5s ease;
}

.my-dropdown-color{
    color: rgba(0 , 0 , 0  , 0.8);

}

.my-navbar-color-1{


    background-color: rgba(0 , 0 , 0  , 0);

}

.my-navbar-fixed {
    background: rgba(10,34,10,0.95);
    width: 100%;
    position: fixed;
    z-index: 100;
}

.card {
    background-color: #fff;
    border: none
}

.form-color {
    background-color: #fafafa
}


.panel-header{
    height: 42px;
}
h2{
    margin-bottom: 20px;
}

.panel-default img{
    -webkit-transition:-webkit-transform 0.3s ease-in-out 0.1s;
}

.panel-default img:hover {
    -webkit-transform:scale(1.05);
    box-shadow: 20px 20px 80px rgba(0,0,0, .5);

}

h5{
    color:rgba(10,34,10 , 0.95);

}


#subrayar{
    border-bottom: 2px solid rgba(0,0,0, .5);
}

.underline-small{
    color:#828735;
    display:inline-block;
    position:relative;

}

.underline-small::after{
    content:'';
    height:2px;
    width:50%;
    background:#828735;
    position:absolute;
    left:calc(30% - 5%);
    bottom:-5px;
    /*   another way you can achieve this
      Check this link:
      https://goo.gl/GgRdjz

      */

}

.card-color{
    color:#828735;
    font-weight: bold;
}

.card-black{
    color: black;
    font-weight: bold;
}

.card-body-side{
    background-color: rgba(0 , 0 , 0 , 0.05);
    text-align: left;
    min-heigh: 400px; !important;
    heigh: 400px; !important;
}



/* ----------------------------------------Galería------------------------------------------------------------*/
.hls_sol li {
    width: 33.33333333%;
    max-width: 100%;
    display: inline-block;
    float: left;
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 240px
}
.hls_sol li img {

}
.hls_sol ul {

    padding: 0;
    display: flow-root;
}
.hls_sol li:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.hls_sol li img {
    -webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}
.hls_sol .hls_sol_data {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,0.28);
    visibility: hidden
}
.hls_sol ul li:hover .hls_sol_data {
    background: rgba(130,135,53,0.60);
    visibility: visible
}
.hls_data {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 60px 20px;
}
.hls_data a {
    display: block;
}
.hls_title {
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
    margin: 10px 0;
    color: #fff;
}
.hls_title:hover {
    color: #fff;
}
.hls_sol_data h3 {
    color: #fff;
}
.hls_sol_data:hover h3 {

    margin-top: 100px;
}
.btn-pro {
    border-radius: 0;
    color: #222;
    background: #fff;
    display: inline-block !important;
    float: right;
}
.btn-pro:hover {
    color: #fff;
    background: #222;
}
.sec_title {
    text-align: center;
    margin: 30px 0 30px;
}
.hls_data {
    left: unset;
    right: -310px;
}
.hls_sol_data:hover .hls_data {
    left: 0;
    right: 0;
}

.extra-image-container {
    max-width:100%;
    max-height:100%;
    object-fit: contain;
}

.img-gallery {
    height: 240px;
    background-color: rgba(0 , 0 , 0 , 0.2);
}


/* ----------------------------------------Galería Tab Panel------------------------------------------------*/

#exTab1 .tab-content {
    color : white;
    background-color: #828735;
    padding : 5px 15px;
}

#exTab2 h3 {
    color : white;
    background-color: #828735;
    padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
    color : white;
    background-color: #828735;
    padding : 5px 15px;
}

.button-ref {
    background-color: rgba(130, 135, 53, 0.5);
    padding : 5px 15px;
    text-align: center;
    font-size: 12px;
    border-radius: 12px;
}

.button-ref:hover {
    color: #828735;
    background-color: rgba(130, 135, 53, 0.8);
}